{
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended"
  ],

  "plugins": ["prettier"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "prettier/prettier": ["error"],

    "max-classes-per-file": "off",
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",

    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/static-property-placement": "off",
    "react/forbid-prop-types": "off",
    "react/no-deprecated": "off",
    "react/no-unused-prop-types": "off"
  }
}
